.description {
    padding: 1.5rem 2rem;
    text-align: center;
}

.description-text {
    font-family: var(--font-clean);
    font-size: 15px;
    line-height: 1.6;
    color: #dddddd;
    font-weight: 400;
}